<%- include('../partials/_header') -%>
<div class="container">
    <h3>Edit Story</h3>
<div class="row">
    <form action="/stories/<%= story._id %>" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT" />
        <%- include('../partials/_form') -%>
        <div class="row">
            <input type="submit" value="Update" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
</div>
<%- include('../partials/_footer') -%>
